<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carefactor.sam.samup4web"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="com.carefactor.samup4web.user.UserInfoPersist"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:name="com.carefactor.samup4web.generic.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.carefactor.samup4web.generic.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.carefactor.samup4web.generic.producer.ProducerUpdateFoodBankActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.carefactor.samup4web.generic.producer.ProducerActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.carefactor.samup4web.generic.producer.ProducerPushNotificationActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.carefactor.samup4web.generic.producer.ProducerTab"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.carefactor.samup4web.generic.producer.ProducerSettingsActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.carefactor.samup4web.generic.CareFactorActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.carefactor.samup4web.generic.consumer.ConsumerActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.carefactor.samup4web.generic.consumer.ConsumerRequestActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.carefactor.samup4web.generic.consumer.ConsumerSearchActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.carefactor.samup4web.generic.consumer.ConsumerSettingsActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.carefactor.samup4web.generic.consumer.ConsumerTab"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.carefactor.samup4web.generic.consumer.ConsumerFoodDetailActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.carefactor.samup4web.generic.consumer.ConsumerSearchGroupActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.carefactor.samup4web.generic.NotificationActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.carefactor.samup4web.generic.consumer.ChoiceProducerDialog" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.carefactor.samup4web.generic.consumer.ConsumerSettingsGroupActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.carefactor.samup4web.generic.consumer.ProducerDetailActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.facebook.android.FacebookConnect" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.facebook.android.IntentResult" >
        </activity>
        <!-- Mandatory from DroidPush API -->
        <receiver
            android:enabled="true"
            android:name="com.ericsson.labs.push.android.core.SmsIntentHandler" >
            <intent-filter android:priority="50" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <!-- Mandatory from DroidPush API -->
        <service android:name="com.ericsson.labs.push.android.core.PushHandler" />






        #
        
        

        

        

        

        <!--  -->

        <receiver
            android:enabled="true"
            android:name="com.carefactor.samup4web.utils.CFPushReceiver" >
            <intent-filter >
                <action android:name="com.ericsson.labs.push.android.ACTION_PUSH_RECEIVED" />
                <action android:name="com.ericsson.labs.push.android.ACTION_PUSH_FAILED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>